.ImagesGallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.imagesList {
    display: flex;
    align-items: center;
    gap: 20px;
}

.backContainerColor {
    background-color: #e9e9e9;
    border-radius: .25rem;
    height: 460px;
    width: 520px;
}

.mainImg {
    margin: 0 auto;
}

@keyframes fadeInOut {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
  
.fadeInOut {
    animation: fadeInOut .75s ease-in-out;
    transition: opacity .75s ease-in-out;
}

.controls {
    position: absolute;
    top: 37%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    display: flex;
    background: var(--gray-color);
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    color: var(--white-color);

    &:hover {
        background-color: var(--dark-gray-color);
    }
}
.right {
    margin-left: auto;
}

.disabled {
    display: none;
}

.imageBorder {
    border: 2px solid var(--blue-bg-color);
    border-radius: .25rem;
}

@media (max-width: 768px) {
    .backContainerColor {
        margin: 0 auto;
        width: 100% !important;
    }
    .imagesList {
        overflow-x: auto;
    }
}