.ProductCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 300px; */
    cursor: pointer;
    border-radius: .25rem;
}

.title {
    margin-bottom: 3px;
}

/* 768px */
@media (max-width: 768px) {
    .ProductCard {
        height: 330px;
    }
}