.ProductSelection {
    padding: 40px 100px;
    background-color: var(--filters-bg-color);
    width: 1180px;
    margin: 60px auto;
}

.paginationBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray-color);
    padding-top: 20px;
}

/* 1024px */
@media (max-width: 1024px) {
    .ProductSelection {
        width: 980px;
        padding: 40px 80px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .ProductSelection {
        width: 680px;
        padding: 20px 60px;
        margin: 40px auto;
    }   
}

/* 425px */
@media (max-width: 425px) {
    .ProductSelection {
        width: 100%;
        padding: 10px 20px;
        margin: 40px auto;
    }
}