.ProductsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 10px 20px;
}

.skeletonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

.skeletonCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    height: 350px;
    cursor: pointer;
}

.productsError {
    display: flex;
    justify-content: center;
}