.WatchAndSortProductSection {
    margin: 54px 0;
}

.title {
    line-height: 1.5;
    margin-bottom: 33px;
}

.filtersAndProducts {
    display: flex;
    gap: 20px;
}

.products {
    width: 100%;
}

.listLoad {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 100%;
}

.btn {
    height: 67px;
    width: 171px;
    margin: 0 auto;
}

/* 768px */
@media (max-width: 768px) {
    .WatchAndSortProductSection {
        margin: 44px 0;
    }
}

/* 425px */
@media (max-width: 425px) {
    .filtersAndProducts {
        flex-direction: column;
    }
}