.Input {
    width: 100%;
    color: var(--gray-color);
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: var(--font-size-s);
  
    &:focus {
      outline: none;
    }
}
  
.readOnly {
    cursor: auto;
    opacity: 0.7;
}
  
.borderRadius {
    border-radius: .25rem;
}
  
.borderNone {
    border: none;
}
  