.SpecificationList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.rating {
    display:  flex;
    align-items: center;
    gap: 10px;
}
.input {
    border: none;
    border-radius: .25rem;
    outline: none;
    padding: 1rem 1rem 1rem 0;
    font-family: inherit;
    width: 100%;
}