.CheckedListItems {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 168px;

}
.checkList {
    margin: 0 0 20px; 
    padding-bottom: 60px; 
    padding-top: 33px;
    border-top: 1px solid var(--gray-color);
}
.question {
    margin-bottom: 20px;
}
.subTitle {
    margin-top: 7px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.title {
    line-height: 1.5;
}

/* 768px */
@media (max-width: 768px) {
    .CheckedList {
        gap: 18px 108px;
    }
    .title {
        font-size: var(--font-size-l);
    }
}

/* 425px */
@media (max-width: 425px) {
    .CheckedList {
        gap: 18px;
    }
    .title {
        font-size: var(--font-size-s);
    }
    .subTitle {
        font-size: var(--font-size-xs);
    }
    .question {
        font-size: var(--font-size-xs);
    }
    .checkList {
        padding-bottom: 40px; 
    }
}
