.imageTeams {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 1024px */
@media (max-width: 1024px) {
    .imageTeams {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 15px;
    }
    .column {
        gap: 15px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .imageTeams {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}
